@import './src/scss/_exports';

.data-list {
  ul {
    li {
      height: 100px;
      margin: 15px 0;
      border-radius: 8px;
      background-color: setColor(gray, lightest);
      list-style: none;
    }
  }
}

virtual-scroller {
  display: block;
  width: 100%;
}