<header class="header navbar-light">

    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" aria-controls="navbar-items" aria-label="toggle menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex header-title">
        <p class="m-b-0"><span>Singular</span>Cover</p>
      </div>
    </nav>

  </header>
