@import './src/scss/exports';

.header {
  background-color: $header-bg;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  .navbar {
    height: $header-height-mobile;
    .header-title {
      p {
        font-size: 18px;
        margin-bottom: 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
