//
// $VARIABLES
// ----------------------------------------------------------------------------

// Typography
// ----------------------------------------------------------------------------
$main-font: 'Open Sans', sans-serif;
$main-font-size: 14;
$medium-weight: 600;

// Typos and Colors
// ----------------------------------------------------------------------------
@import 'define-typos';
@import 'define-colors';

// Layout
$header-height-mobile: 60px;
$header-height-desktop: 70px;

$searchbar-lg-width: 1080px;
$searchbar-lg-fixed-width: 800px;
$searchbar-md-width: 890px;
$searchbar-md-fixed-width: 600px;
$searchbar-boxshadow: 0 1px 3px rgba(black, 0.14);

// Paddings
// ------------------------
$padding-box: 15px;
$padding-box-double: $padding-box*2;
$padding-vertical: 60px;

// Buttons & links
// ----------------------------------------------------------------------------

$btn-font-size: 12px;
$btn-padding: 9px 22px;

$btn-main-color: white;
$btn-main-bg: setColor(red, dark);
$btn-main-hover: setColor(red, darker);
$btn-main-active:  setColor(red, darker);

$btn-alt-color: white;
$btn-alt-bg: setColor(blue, base);
$btn-alt-hover: setColor(blue, dark);
$btn-alt-active:  setColor(blue, dark);

$link-color: setColor(red, dark);
$link-hover-color: setColor(red, darker);
$link-hover-decoration: underline;

// Header & Nav
// ----------------------------------------------------------------------------
$header-bg: setColor(yellow, base);

// Modals
$modals-bkpoint: 650px;
