<div id="{{modalId}}" class="modal modal-{{size}} modal-{{position}}" [ngClass]="{open: isOpen}">
  <div #overlay [ngClass]="{open: isOpen}" class="modal-overlay">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal__header">
          <span class="modal__title">{{title}}</span>
          <span class="close" modalClose modalId="{{modalId}}">
            <sc-svg name="icon-cross"></sc-svg>            
          </span>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>