@import './src/scss/_exports';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2050;
  overflow: hidden;
  outline: 0;
  display: none;

  .modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2040;
    background: rgba(0, 0, 0, 0.6);

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }


  &.open {
    display: block;
  }

  &-xl {
    .modal-dialog {
      height: 100%;
      margin: 0;
      @include breakpoint(sm) {
        height: auto;
        margin: 30px auto;
      }
      @media (min-width: $modal-xl) {
        width: $modal-xl;
        max-width: $modal-xl;
      }
    }
    .modal-content {
      margin: 0;
      height: 100%;
    }
  }

  &__header {
    padding: 20px;
    text-align: center;
  }

}

// Close button
// ----------------------------------------------------------------------------
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: setColor(gray, base);
  font-size: 15px;
  padding: 15px;
  z-index: 2;

  @media (min-width: $modals-bkpoint) {
    padding: 20px;
  }

}