//
// Buttons
// ----------------------------------------------------------------------------

.btn {
  display: inline-block;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border: 1px solid transparent;
  padding: $btn-padding;
  font-family: $main-font;
  font-weight: bold;
  font-size: $btn-font-size;
  line-height: 1.454545;
  text-transform: uppercase;
  text-align: center;
  appearance: none;
  transition: all .2s linear;
  cursor: pointer;  
  position: relative;
  overflow: hidden;
  vertical-align: bottom;
  max-width: 100%;
  letter-spacing: 1px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none; 
  }


  &--full { // for full width in container

    width: 100%;
    max-width: 414px; //prevent extrabig buttons on small tablets
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
  }

  // Main button (brand background)
  // --------------------------------------------------------------------------
  &--brand {
    @include ghost-button(setColor(gray, base), setColor(gray, base), setColor(gray, base), setColor(gray, base), setColor(white, base));
  }

  // Buttons with icon
  // --------------------------------------------------------------------------

  &--has-icon {
    .icon,
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      font-size: 1.5em;
    }
    span {
      margin-left: 4px;
    }
  }

}