//
// Sections
// ----------------------------------------------------------------------------
.section {
  padding-left: $padding-box;
  padding-right: $padding-box;
  margin-bottom: 90px;

  @include breakpoint(0, $screen-sm-max) {
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .container-fluid {
    @include breakpoint(xs) {
      padding: 0;
    }

  }

  // Header and footer contents
  // -------------------------------------------------------------------------- 
  &__title {
    @include title(section);
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text(standard);
  }

  &__text {
    @include text(standard);
  }

}