//BASE AND COMMON STYLES SHOULD BE INCLUDED HERE

html,
body {
  @include text(standard);
  width: 100%;
}

body {
  background-color: $body-bg;
}

//Set vertical rythm to block elements
h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  margin-top: 0;
  margin-bottom: 10px;
}

ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
  margin-top: 0;
  margin-bottom: 10px;
  &.compact {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}
