<div class="container searchbox">
  <div class="row">
    <div class="col">
      <sc-searchbar class="searchbar__wrapper" (searchValue)="searchItems($event)"></sc-searchbar>
    </div>
  </div>
</div>

<div class="container buttons">
  <div class="row">
    <div class="col offset-md-6 saveditems">
      <a href="javascript:void(0)" modalOpen modalId="authModal" class="btn btn--brand btn--has-icon btn--full">
        <sc-svg name="icon-save-disk"></sc-svg>
        <span>starred</span>
      </a>
    </div>
    <div class="col">
      <sc-sortby [items]="sortByItemsDef" (tabEvent)="sortingEvent($event)">
        <ng-template #titleRef let-item>{{item.title}}</ng-template>
      </sc-sortby>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row search-results" *ngIf="list.length !== 0"> 
      <div class="col-md-12">
        <sc-data-list [listToModify]="savedList" [items]="list" [virtualScrollHeight]="560">
          <ng-template #row let-row>
            <div class="col ellipsis">
              <!-- mobile view -->
              <div class="d-md-none row no-gutters align-items-center data-item">
                <div class="col-4 p-r-15 data-item--image">
                  <img [src]="'assets/images/'+row['brand-image']" alt="{{row.name}}">
                </div>
                <div class="col-7 p-r-15 ellipsis">
                  <p class="m-b-0"><b>{{row.name}}</b></p>
                  <p class="m-b-0">{{row.brand}}</p>
                  <p class="m-b-0">{{row.kind}}</p>
                  <p class="m-b-0"><b>{{row.price}}€</b></p>
                </div>
                <div class="col-1">
                  <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="!row.isStarred">
                    <sc-svg name="icon-star-empty"></sc-svg>
                  </a>
                  <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="row.isStarred">
                    <sc-svg name="icon-star-full"></sc-svg>
                  </a>
                </div>
              </div>
  
              <!-- desktop view -->
              <div class="d-none d-md-flex row no-gutters align-items-center data-item">
                <div class="col-2 p-r-15 data-item--image">
                  <img [src]="'assets/images/'+row['brand-image']" alt="{{row.name}}">
                </div>
                <div class="col-3 p-r-15 ellipsis">
                  <p class="m-b-0"><b>{{row.name}}</b></p>
                </div>
                <div class="col-3 p-r-15 ellipsis">
                  <p class="m-b-0">{{row.brand}}</p>
                  <p class="m-b-0">{{row.kind}}</p>
                </div>
                <div class="col-3 p-r-15 ellipsis">
                  <p class="m-b-0"><b>{{row.price}}€</b></p>
                </div>
                <div class="col-1">
                  <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="!row.isStarred">
                    <sc-svg name="icon-star-empty"></sc-svg>
                  </a>
                  <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="row.isStarred">
                    <sc-svg name="icon-star-full"></sc-svg>
                  </a>
                </div>
              </div>
  
            </div>
          </ng-template>
        </sc-data-list>
      </div>
    </div>
    <div class="row" *ngIf="list.length === 0">
      <div class="col-md-12">
        <div class="text-center">
          <h3>There was no result found...</h3>
          <span>Please try again by typing in the searchbar above you</span>
        </div>
      </div>
    </div>
  </div>
</div>


<sc-modal #modal modalId="authModal" position="center" size="xl" title="Starred Items">
  <div *ngIf="savedList.length">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-9">
          <sc-searchbar class="searchbar__wrapper" (searchValue)="searchSavedItems($event)"></sc-searchbar>
          <span class="stars" ng-class="classes">
          </span>
        </div>
        <div class="col-12 col-sm-3">
          <sc-sortby [items]="sortByItemsSaved" (tabEvent)="sortingEvent($event)">
            <ng-template #titleRef let-item>{{item.title}}</ng-template>
          </sc-sortby>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12" *ngIf="savedList.length !== 0">
          <sc-data-list [listToModify]="savedList" [items]="savedList" (itemEvent)="modifyFav($event)" [virtualScrollHeight]="560">
            <ng-template #row let-row>
              <div class="col ellipsis">

                <!-- mobile view -->
                <div class="d-md-none row no-gutters align-items-center data-item">
                  <div class="col-4 p-r-15 data-item--image">
                    <img [src]="'assets/images/'+row['brand-image']" alt="{{row.name}}">
                  </div>
                  <div class="col-7 p-r-15 ellipsis">
                    <p class="m-b-0"><b>{{row.name}}</b></p>
                    <p class="m-b-0">{{row.brand}}</p>
                    <p class="m-b-0">{{row.kind}}</p>
                  </div>
                  <div class="col-1">
                    <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="row.isStarred">
                      <sc-svg name="icon-star-full"></sc-svg>
                    </a>
                  </div>
                </div>
    
                <!-- desktop view -->
                <div class="d-none d-md-flex row no-gutters align-items-center data-item">
                  <div class="col-2 p-r-15 data-item--image">
                    <img [src]="'assets/images/'+row['brand-image']" alt="{{row.name}}">
                  </div>
                  <div class="col-5 p-r-15 ellipsis">
                    <p class="m-b-0"><b>{{row.name}}</b></p>
                  </div>
                  <div class="col-4 p-r-15 ellipsis">
                    <p class="m-b-0">{{row.brand}}</p>
                    <p class="m-b-0">{{row.kind}}</p>
                  </div>
                  <div class="col-1">
                    <a href="javascript:void(0)" class="starred-icon" (click)="modifyFav(row, i)" *ngIf="row.isStarred">
                      <sc-svg name="icon-star-full"></sc-svg>
                    </a>
                  </div>
                </div>
    
              </div>
            </ng-template>
          </sc-data-list>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="savedList.length === 0">
    <div class="row">
      <div class="col-12">
        <div class="text-center m-b-40">
          <h3>No favorites saved yet</h3>
          <span>Remeber that you can save from this list and look at them here ;)</span>
        </div>
      </div>
    </div>
  </div>
  
</sc-modal>
