<div class="text-right" ngbDropdown>
  <button href="javascript:void(0)" class="btn btn--brand btn--has-icon btn--full" ngbDropdownToggle>
    <sc-svg name="icon-sort"></sc-svg>
    <span>Order by</span>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <a href="javascript:void(0)" (click)="tabClicked(item)" *ngFor="let item of items"
      [ngClass]="{active: item.isActive}" class="dropdown-item" ngbDropdownItem>
      <ng-template [ngTemplateOutlet]="titleRef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
    </a>
  </div>
</div>
